<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <a class="navbar-brand" routerLink = "/">VMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink = "/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/cars">Cars</a>
        </li>
        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="dropdownCreate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Create</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownCreate">
            <a class="dropdown-item" routerLink = "/cars/create">A new car</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
